<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8"/>

    <meta name="language" content="en_US"/>
    <meta http-equiv="content-language" content="en_US"/>

    <%= csrf_meta_tag %>

    <meta name="current_user" content="<%= render(partial: 'json/current_user', formats: [:json]) %>"/>

    <%= yield(:html_head) %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'ac-head' -%>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag '//connect.facebook.net/en_US/sdk.js' -%>
  </body>
</html>
